{{define "css"}}{{$v := . -}}
		<meta charset="utf-8" />
		<meta name="description" content="Sustainable pharmacology and harmreduction wiki." />
		<meta name="color-scheme" content="{{default "light" .Theme | stripHTML}}" />

		{{if $v.Title -}}
		<meta property="og:title" content="{{$v.Title}}">
		{{if eq $v.Type "user" -}}
		<meta property="og:description" content="{{template "stripuser" $v.About}}">
		{{if printf "/user/%s/pfp.jpg" $v.Title | fileExists -}}
		<meta property="og:image" content="https://anodyne.wiki/user/{{$v.Title}}/pfp.jpg">
		{{end -}}
		<meta name="twitter:card" content="summary">
		{{else if eq $v.Title "About" -}}
		<meta property="og:description" content="A meta-wiki optimized for chemicals affecting biological life-forms and their use and administration and interactions.">
		<meta property="og:image" content="https://anodyne.wiki/assets/funsies.png">
		{{else -}}
		<meta property="og:description" content="{{$v.Title}}{{if $v.ChemicalClasses}} is a {{with $v.Classes}}{{template "rcad" .}} {{end}}substance of the {{template "rcad" $v.ChemicalClasses}} class.{{end}}">
		<meta property="og:image" content="https://anodyne.wiki/structure/{{lower $v.Title | replace " " "_"}}.jpg">
		<meta name="twitter:card" content="summary_large_image">
		{{- end}}
		<meta property="og:url" content="https://anodyne.wiki{{placeholder "http.request.orig_uri.path"}}">
		{{- end}}

		<link rel="stylesheet" href="/css/light.css">
		<link rel="stylesheet" href="/css/dark.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/icons.css">
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
		{{/*<link rel=stylesheet href="/css/{{.Theme | default "light" | stripHTML}}.css">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

		{{/*<script type="text/javascript" src="/js/JSmol.min.js"></script>*/}}
		{{/*<script type="text/javascript" src="/js/JSmol.GLmol.min.js"></script>*/}}
		{{if contains "true" $v.Editable}}<script type="text/javascript" src="/js/editable.js"></script>{{end}}
{{- end}}
