{{$title := splitList "/" .OriginalReq.URL.Path | last | stripHTML}}
{{$prefsPath := printf "/user/%s/preferences.json" $title}}

{{import "missing.html"}}
{{import "article.html"}}
{{if fileExists $prefsPath | not}}
	{{/*- template "missing" (dict "Type" "user" "SubType" "form" "Title" $title)*/}}
	{{- $v := dict "Type" "user" "SubType" "form" "Title" (ternary $title "Title" (eq $title "form" | not)) "Name" (list "Name1" "Name2") "About" "{p}I like drugs.{Ep}" "Birth" "2000-01" "Location" "Earth" "Links" (list (dict "Name" "Link" "Url" "Url")) "Psyche" (dict "Interests" (list "Drugs") "Attributes" (list "Likes drugs too much") ) }}
	{{template "article" (dict "Title" $title "Editable" "true" "Class" "fuserarticle" "Markdown" "user.md" "Vars" $v ) }}
{{else}}
	{{- $v := include $prefsPath | fromJson | merge | default (dict)}}
{{template "article" (dict "Title" $title "Editable" "true" "Class" "fuserarticle" "Markdown" "user.md" "Vars" $v ) }}
{{end}}
