{{$title := splitList "/" .OriginalReq.URL.Path | last | stripHTML}}
{{$prefsPath := printf "/user/%s/preferences.json" $title}}

{{import "missing.html"}}
{{import "article.html"}}
{{if fileExists $prefsPath | not}}
	{{- template "missing" (dict "Type" "user" "Title" $title)}}
{{else}}
	{{- $v := include $prefsPath | fromJson | merge | default (dict)}}
{{template "article" (dict "Title" (printf "%s - Anodyne" $title) "Editable" "true" "Class" "fuserarticle" "Markdown" "user.md" "Vars" $v ) }}
{{end}}
