{{define "UserMatrix"}}{{$v := . -}}
<div class=collapser><h2 contenteditable=false class=full-width>Substance Matrix{{if eq $v.Editable "false"}} ({{len $v.TriedSubstances}}){{end}}<span class=collapseButton>&nbsp;{{template "exnd" $v.Collapse}}</span></h2>
<div class="collapserContent anodyneUserMatrixStruct" style="max-width: repeat({{default "12" $v.SubstanceMatrixMaxCols}}, {{default "60px" $v.SubstanceMatrixCellW}});">
{{range $i, $sub := $v.TriedSubstances -}}
<div><img class=trdmatimg style='width: {{default "60px" $v.SubstanceMatrixCellW}}; height:{{default "60px" $v.SubstanceMatrixCellH}};' alt='' src="/structure/{{lower $sub.Name | replace " " "_"}}{{if lower $sub.Name | replace " " "_" | printf "/structure/%s.svg" | fileExists}}.svg{{else if lower $sub.Name | replace " " "_" | printf "/structure/%s.jpg" | fileExists}}.jpg{{end}}" ></div>{{end -}}
</div></div>
{{end}}
