{{define "UserMatrix"}}{{$v := . -}}
<div class=collapser><h2 contenteditable=false style="width: 100%;">Substances ({{len $v.TriedSubstances}})<span style="padding-left: 10px; font-size: 14.5px !important; line-height: 1.6 !important; margin-bottom: 0px;">&nbsp;{{template "exnd" $v.Collapse}}</span></h2>
<div class="collapserContent anodyneUserMatrixStruct" style="max-width: repeat({{default "12" $v.SubstanceMatrixMaxCols}}, {{default "60px" $v.SubstanceMatrixCellW}});">
{{range $i, $sub := $v.TriedSubstances -}}
{{if printf "/structure/%s.svg" (lower $sub.Name | replace " " "_") | fileExists -}}<div><img style='width: {{default "60px" $v.SubstanceMatrixCellW}}; height:{{default "60px" $v.SubstanceMatrixCellH}};' alt='' src="/structure/{{replace " " "_" (lower $sub.Name)}}.svg" ></div>{{else if printf "/composite/%s.jpg" (lower $sub.Name | replace " " "_") | fileExists -}}<div><img style='width: {{default "60px" $v.SubstanceMatrixCellW}}; height:{{default "60px" $v.SubstanceMatrixCellH}};' alt='' src="/composite/{{replace " " "_" (lower $sub.Name)}}.jpg" ></div>{{end}}{{end -}}
</div></div>
{{end}}
