{{$vPath := splitList "/" .OriginalReq.URL.Path | last | lower | replace " " "_" | printf "/substituted/%s.json"}}
{{$v := include $vPath | fromJson}}
{{if not $v}}{{httpError 404}}{{end}}

{{$ftitle := ""}}
{{with $v.Position}}{{$ftitle = printf "%s-" .}}{{end}}
{{$ftitle = printf "%sSubstituted %s" $ftitle $v.Name}}
{{with $v.Abr}}{{$ftitle = printf "%s (%s)" $ftitle $v.Abr}}{{end -}}

{{import "article.html" -}}
{{template "article" (dict "Title" (printf "%s" $ftitle) "Markdown" "substituted.md" "Vars" $v)}}
